body{
    background: #f1f5f8;
    text-transform: capitalize;
}
form{
    margin-top: 40px;
}
input{
    border: none;
    height: 60px;
    font-size: 20px;
    padding-left: 10px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
button{
    transform: translateY(-2px);
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background: #49a6e9;
    height: 61px;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 6rem;
}
label{
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
}
.error{
    border: 2px solid red;
}